@media only screen and (min-widht: 768px) {
.carousel .carousel-inner .carousel-item .carousel-item-img {
    width: 400px;
    height: 400px;
    }
}

@media only screen and (min-widht: 992px) {
    .carousel .carousel-inner .carousel-item .carousel-item-img {
        width: 400px;
        height: 400px;
    }
}

@media only screen and (min-widht: 1200px) {
        .carousel .carousel-inner .carousel-item .carousel-item-img {
            width: 400px;
            height: 400px;
        }
}